#!/bin/bash
# {{ ansible_managed }}
# run this script daily to renew any letsencrypt certs that need renewing
# renew cert if it expires within 30 days

{% for cert in letsencrypt_certificates %}
echo "$(date) checking for cert update for {{ ', '.join(cert.domains) }}."
# {{ ', '.join(cert.domains) }}
{% if cert.http_verification is undefined or cert.http_verification == false %}
CLOUDFLARE_EMAIL="{{ cert.cloudflare_email | mandatory }}" CLOUDFLARE_API_KEY="{{ cert.cloudflare_api_key | mandatory }}" {{ letsencrypt_bin_file }} --email="{{ cert.account_email | mandatory }}" --domains {{ ' --domains '.join(cert.domains) }} --dns="cloudflare" renew --days 30
{% else %}
{{ letsencrypt_bin_file }} --email="{{ cert.account_email | mandatory }}" --domains {{ ' --domains '.join(cert.domains) }} --http="127.0.0.1:8181" renew --days 30
{% endif %}

{% endfor %}
# reload nginx to pick up the new certificate
sudo service nginx reload
